@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/Avenir-Regular.ttf") format("truetype"),
    url("../fonts/Avenir/Avenir-Book.ttf") format("truetype"),
    url("../fonts/Avenir/Avenir-Black.ttf") format("truetype"),
    url("../fonts/Avenir/Avenir-Light.ttf") format("truetype"),
    url("../fonts/Avenir/Avenir-Heavy.ttf") format("truetype");
}

@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  @apply transition-colors duration-200;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Avenir;

  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Avenir;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  font-size: clamp(20px, 1.5vw, 22px);
}

h5 {
  font-size: clamp(12px, 0.9vw, 14px);
}

label {
  font-size: clamp(14px, 1vw, 16px);
}

th {
  font-size: clamp(14px, 1vw, 16px);
}

#sidebar-text {
  font-size: clamp(16px, 0.9vw, 18px);
}

td {
  font-size: clamp(14px, 1vw, 16px);
}

a {
  color: inherit;
  text-decoration: none;
}

h6 {
  font-size: clamp(16px, 1vw, 18px);
}

h1 {
  font-size: clamp(22px, 1.5vw, 24px);
}

p {
  font-size: clamp(14px, 1vw, 16px);
}

/* .gradient {
  background: linear-gradient(308.18deg, #fdbc87 6.12%, #d0650d 93.32%);
} */

#signin {
  background: url("../assets/signin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiMenuItem-root {
  font-family: "Avenir";
}

.ant-select-selection {
  background-color: green;
}

#tdrops > div {
  margin-top: "410px";
}
